<!doctype html>
<html>
<head>
    <title>Pokemon Show Page</title>
</head>
<body>
<h1>Gotta Catch 'Em All</h1>

<h2><%=pokemon.name %></h2>

<img src="<%=pokemon.img %>">
<br>

<a href="/views/edit">Edit</a>

<a href="index.ejs">Back</a>

</body>
</html>